.widget {
    position: relative;
    display: flex;;
    flex-wrap: wrap;
    justify-content: space-between;

    .widget-item {
        @include circle(180);
        position: relative;
        padding-top: 40px;
        border: 2px solid $primary;
        text-align: center;

        &:after {
            content: "\e649";
            position: absolute;
            top: 50%;
            right: -30%;
            color: $primary;
            font-family: 'themify';
            font-size: 12px;
            transform: translateY(-50%);
        }

        &:last-child {
            &:after {
                display: none;
            }
        }



        i {
            display: block;
            margin-bottom: 25px;
            color: $primary;
            font-size: 40px;
        }
    }

    @include media-breakpoint-down(sm) {
        justify-content: space-around;

        .widget-item {
            margin: 15px;

            &::after {
                display: none;
            }
        }

            
    }
}

// Portfolio wrapper
.img-wrapper {
    position: relative;
    display: block;
    display: block;
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: $border-radius;

    img {
        position: relative;
        z-index: 8;
        width: 100%;
    }

    .overlay {
        position: absolute;
        z-index: 9;
        top: 100%;
        left: 0;
        visibility: hidden;
        width: 100%;
        height: 100%;
        opacity: 0;
        background: darken(rgba($primary,.7),10%);
        @include transition(all,.4s);

        .overlay-infos {
            position: absolute;
            top: 100%;
            left: 50%;
            color: $white;
            @include transition(all,.3s);
            transition-delay: .2s;
            transform: translate(-50%,-50%);

            h5 {
                margin-bottom: 15px;
            }

            a {
                display: inline-block;
                @include circle(35);
                color: $white;
                border: 2px solid $white;
                text-align: center;
                text-decoration: none;
                line-height: 35px;

                &:hover {
                    color: $primary;
                    background: $white;
                }
            }
        }
    }

    &:hover,
    &:active {

        .overlay {
            top: 0;
            visibility: visible;
            opacity: 1;

            .overlay-infos {
                top: 50%;
            }
        }
    }
}


/* testmonial wrapper */
.testimonial-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    .img-holder {
        z-index: 999;
        min-width: 45px;
        max-width: 45px;
    }

    img {
        width: 90px;
        height: 90px;
        padding: 4px;
        border-radius: 50%;
        background: $white;
    }

    .body {
        padding: 20px 20px 20px 60px;
        border: 1px solid $border-color;
        border-radius: $card-border-radius;
        background: $white;
        text-align: left;

        .title {
            margin-top: 20px;
            font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1300 - 300)));               
        }
    }
}

#service {
    .block {
        padding: 15px;
    }
}

// Box
.box {
    position: relative;
    z-index: 99;
    display: flex;;
    align-items: flex-start;
    width: 95%;
    max-width: 1050px;
    margin: auto;
    margin-top: -90px;
    padding: 30px 0;
    border-radius: $border-radius;
    color: $white;

    background: $secondary;
    box-shadow: 2px 0 10px rgba($gray-800,.2);

    .box-item {
        flex-basis: 0;
        flex-grow: 1;
        padding: 10px 15px;
        border-right: 1px solid $border-color;

        i {
            display: inline-block;
            margin-bottom: 25px;
            color: $secondary;
            font-size: 33px;
            font-weight: 100;
            background: $primary;
            border-radius: 50%;
            padding: 0.5em;
        }

        .box-title {
            margin-bottom: 20px;
            font-size: 18px;
        }

        &:last-child {
            border: 0;
        }
    }

    @include media-breakpoint-down(sm) {
        flex-direction: column;
        height: auto;
        max-height: none;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 0;
        box-shadow: none;


        .box-item {
            margin-bottom: 30px;
            padding: 30px;
            border: 1px solid $border-color !important;
            border-radius: $card-border-radius;
        }
    }
}

// Widget Type 2
.widget-2 {
    position: relative;
    display: flex;;

    .widget-item {
        width: calc(100%/4);
        margin-top: 40px;
        margin-bottom: 20px;
        padding: 15px;
        border-right: 1px solid rgba($white, .1);
        text-align: center;

        &:last-child {
            border-right: 0;
        }

        &:hover {
            i {
                transform: translateY(-5px) scale(1.02);
            }
        }

        i {
            display: block;
            margin-top: -40px;
            margin-bottom: 30px;
            color: $primary;
            font-size: calc(30px + (70 - 30) * ((100vw - 320px) / (1200 - 320)));
            @include transition(all,.3);
        }

        .title {
            margin-bottom: 0px;
            font-size: 40px;
            font-size: calc(20px + (40 - 20) * ((100vw - 320px) / (1200 - 320)));
        }

        .subtitle {
            margin-bottom: -40px;
            font-size: 17px;
            font-size: calc(13px + (17 - 13) * ((100vw - 320px) / (1200 - 320)));
            font-weight: 300;
        }
    }

    @include media-breakpoint-down(xs) {
        flex-wrap: wrap;

        .widget-item {
            width: 50% !important;
            margin: 0;

            i {
                margin-top: 0;
            }

            .subtitle {
                margin-bottom: 15px;
            }

            &:nth-child(2) {
                border-right: 0 !important;
            }
        }
    }
}



.card {
    height: 100%;
    background: var(--secondary);
    color: white;

    img.inset {
        display: block !important;
        width: 90%;
        margin: auto;
        border-radius: $card-border-radius;
        box-shadow: 1px 3px 8px rgba($gray-700,.2);
        -webkit-transform: translateY(5%);
        -moz-transform: translateY(5%);
        transform: translateY(5%);

        & + .card-body {
            margin-top: 10px;
        }
    }

    .card-body .socials {

        a {
            display: inline-block;
            margin: 10px 8px 0;
            font-size: 20px;
            text-decoration: none;
        }
    }
}





// Blog Post Card
.card.blog-post {
    position: relative;
    background: $white;

    img {
        position: relative;
        z-index: 10;
        width: 90%;
        margin: -8% auto 0;
        border-radius: $card-border-radius !important;
        box-shadow: 2px 5px 35px rgba($gray-500,.3), -2px -5px 10px rgba($gray-500,.3);
    }

    .card-body {
        margin: auto;
        border-radius: $card-border-radius $card-border-radius 0 0 ;
        color: black;

        .details {
            text-align: center;
            a {
                display: inline-block;
                opacity: .6;
                color: $body-color;
                text-align: center;
                text-decoration: none;

                &:first-child {
                    margin-right: 30px;
                    margin-left: -3px;
                }

                i {
                    position: relative;
                    top: 1px;
                    display: inline-block;
                    width: 25px;
                    font-size: 18px;
                }
            }
        }
    }
}


// Contact Wrapper
.contact-card {
    display: flex;;
    padding: 40px 0;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    background: $white;
    box-shadow: 1px 3px 10px rgba($gray-500,.4);

    .infos {
        min-width: 400px;
        padding: 0 40px;
        border-right: 1px solid $border-color;

        .item {
            display: flex;;
            margin-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid $border-color;

            &:last-child {
                border-bottom: 0;
            }

            h5 {
                margin-bottom: 0;
            }

            p {
                margin-bottom: 3px;
            }

            i {
                display: block;
                width: 30px;
                margin: 4px 20px 0 0;
                color: $primary;
                font-size: 30px;
            }

            a {
                color: black;
            }
        }
    }

    .form {
        flex-grow: 1;
        height: 100%;
        padding: 0 40px;
    }

    @include media-breakpoint-down(md) {
        .infos {
            display: none;
        }
    }
}
