// Custom Navigation
.custom-navbar {
	position: fixed;
	z-index: 9999;
	top: 0;
	right: 0;
	left: 0;
	min-height: 70px;
	margin: auto;
	padding: 0 10px;
	@include transition(all,.33s);
	background: $secondary;
	scroll-behavior: smooth;

	.navbar-toggler {
		height: 55px;
		border: none;

		span{
			display: block;
			width: 35px;
			height: 3px ;
			border-radius: 10px;
			background-color: rgba($white, 1) !important;

			&:after,
			&:before {
				content: '';
				display: block;
				width: 35px;
				height: 3px;
				color: $gray-700;
				background-color: rgba($white,1);
			}

			&:after {
				transform: translateY(-13px);
			}
			&:before {
				transform: translateY(9px);
				
			}
			
		}

	} 

	.navbar-brand {
		display: flex;
		align-items: center;

		img {
			width: 50px;
		}

		.logo-text {
			padding-right: 0.1em;
			background: white;
			-webkit-background-clip: text;
			font-size: 1.8em;
			font-weight: 900;
			margin-left: 0.2em;
			font-style: italic;
			transform: translate(-16px, 9px);
			text-transform: uppercase;
			-webkit-text-fill-color: transparent;
		}
	}

	.nav-link {
		margin: 0 5px;
		color: $white;
		font-size: 1rem;
		font-weight: 600;
		transition: all 0.3s;


		&.active,
		&:hover {
			color: $primary;
		}
	}

	&.affix {
		position: fixed;
		top: 0;
		width: 100%;
		max-width: 100%;
		border-bottom: 1px solid $gray-200;
		border-radius: 0;
		background: $white;
		animation-name: affix;
		animation-duration: .6s;

		.navbar-toggler {
			span,
			span:before,
			span:after {
				background: rgba($gray-600, 1) !important;
			}
		}



		.nav-link {
			color: $gray-700 !important;

			&.active {
				color: $primary !important;
			}
		}
	}
}

.announcement {
	width: 50%;
	height: 5em;
	margin: 0 auto;
	margin-top: 3em;
	border-radius: 50px;
	background: url(../imgs/standWithUkraine.png) center center no-repeat;
	background-size: cover;
	animation: heart-beat 1s ease-in-out infinite;

	a {
		display: block;
		width: 100%;
		height: 100%;
	}
}

@keyframes affix {
	from {
		top: -460px;
		width: 100%;
	}

	to {
		top: 0;
	}
}

@keyframes heart-beat {
	0% {
		//transform: scale(1);
		box-shadow: 0 0 0 0 rgba(255, 107, 107, 1);
	}
	14% {
		//transform: scale(1.01);
		box-shadow: 0 0 15px 0 rgba(255, 107, 107, 0.3);
	}
	28% {
		//transform: scale(1);
		box-shadow: 0 0 0 0 rgba(255, 107, 107, 1);
	}
	42% {
		//transform: scale(1.01);
		box-shadow: 0 0 15px 0 rgba(255, 107, 107, 0.3);
	}
	100% {
		//transform: scale(1);
		box-shadow: 0 0 0 0 rgba(255, 107, 107, 1);
	}
}
