.header {
    min-height: 650px;
    background: linear-gradient(214deg, $primary, 1%, transparent 51%);
    background-size: cover;

    .overlay {
        min-height: 650px;
        color: $font-color;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;

        .header-content {
            padding-left: 3em;
            scroll-behavior: smooth;

            .subtitle {
                font-size: 1.7rem;
                font-weight: 300;
            }
    
            .title {
                font-size: 4rem;   
                margin-bottom: 40px;        
            }
        }

        .header-img {
            flex: 1;
            aspect-ratio: 1/1;
            background: url(../imgs/Scenes05.svg) no-repeat center right;
            background-size: contain;
            max-height: 470px;
        }
    }

    @include media-breakpoint-down(sm) {
        .overlay {

            .subtitle {
                margin-top: 0;
            }
        }
    }

    &-title {
        font-size: 2.4rem;
        font-weight: bold;
        opacity: .8;
    }

    // header mini
    &-mini {
        min-height: 24rem;
        height: 24rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 1rem;
        background: lighten($primary, 25%) !important;
    }
}