body,
html { height: 100% }
 

section {
    padding: $section-padding-y $section-padding-x;

    &:nth-child(odd) {
        background-color: lighten($gray-200, 1%);
    }

    &.py-sm,
    .py-sm {
        padding: 30px 0 !important;
    }

    &.py-md,
    .py-md {
        padding: 60px 0 !important;
    }

    &.has-bg-img {
        background: rgba($gray-900, .95);
        position: relative;
        color: $white;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-image: url(../imgs/voterSEO-banner.webp);
            background-position: center center;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -1;
        }

        &.bg-img-1:after {
            background-image: url(../imgs/section.jpg);
        }
        &.bg-img-2:after {
            background-image: url(../imgs/header.jpg);
        }

    }

    .section-subtitle {
        font-size: calc(17px + (23 - 17) * ((100vw - 320px) / (1200 - 320)));
        font-weight: 300;
        margin-bottom: 5px;
        opacity: .6;
        
        @include media-breakpoint-up(lg) {
            font-size: 23px;
        }
    }
    .section-title {
        padding-bottom: 0.5em;
        font-size: calc(28px + (35 - 28) * ((100vw - 320px) / (1200 - 320)));

        @include media-breakpoint-up(lg) {
            font-size: 3rem;
            font-weight: 900;
        }
    }
}

/* about */
.about-wrapper {
    margin-left: 70px;
    position: relative;
    
    .content {
        background-color: $white;
        @include custom-box-shadow(blur,$gray-500,$gray-600,.3,.3);
        border-radius: $card-border-radius;
        padding: 30px;
        position: relative;
    }

    .after {
        position: absolute;
        top: 10%;
        left: -60px;
        background: $primary;
        @include custom-box-shadow(blur,$gray-500,$gray-600,.3,.3);         
        width: 200px;
        height: 80%;
        border-radius: $card-border-radius;
        h1 {
            transform: rotate(-90deg);
            position: absolute;
            top: 43%;
            left: -45px;
            font-size: 35px;
        }
    }

}

@include media-breakpoint-down(sm) {
    .about-wrapper {
        margin-left: 0;

        .after {
            display: none;
        }
    }
} 